<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Vaadin Web Application</display-name>
	<context-param>
		<description>Vaadin production mode</description>
		<param-name>productionMode</param-name>
		<param-value>true</param-value>
	</context-param>

	<!-- testing entity-based JPA2.0 retrieval -->
	<servlet>
		<servlet-name>EntitySimpleFilteringApplication</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>org.vaadin.addons.criteriacontainersample.EntitySimpleFilteringApplication</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>EntityCustomFilteringApplication</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>org.vaadin.addons.criteriacontainersample.EntityCustomFilteringApplication</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>EntityParameterizedFilteringApplication</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>org.vaadin.addons.criteriacontainersample.EntityParameterizedFilteringApplication</param-value>
		</init-param>
	</servlet>


	<!-- testing "entity tuple"-based JPA2.0 retrieval -->
	<servlet>
		<servlet-name>BeanTupleCustomFilteringApplication</servlet-name>
		<servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
		<init-param>
			<param-name>application</param-name>
			<param-value>org.vaadin.addons.criteriacontainersample.BeanTupleCustomFilteringApplication</param-value>
		</init-param>
		<init-param>
			<description>
			Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>org.vaadin.addons.criteriacontainersample.widgetset.Criteriaapp_testWidgetset</param-value>
		</init-param>
	</servlet>


	<servlet-mapping>
		<servlet-name>EntityCustomFilteringApplication</servlet-name>
		<url-pattern>/c/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EntitySimpleFilteringApplication</servlet-name>
		<url-pattern>/s/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EntityParameterizedFilteringApplication</servlet-name>
		<url-pattern>/p/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BeanTupleCustomFilteringApplication</servlet-name>
		<url-pattern>/b/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EntitySimpleFilteringApplication</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>
</web-app>